.contact-page {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
}

mat-form-field {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.success-message {
  color: green;
}
